
<div class="row wow fadeIn cc-calls-stats-row">
    <!--Grid column-->

    <div class="col-md-4 mb-4">
        <!--div class="greeting"> <div class="float-left welcome">
            <span>Welcome and Good Morning.</span>
            </div>
        <div class="float-left">
            Have a nice day ahead !
        </div></div>
        <div class="margin-top-dashboard"></div-->
        <div>
            <div class="cc-calls-stats blc-1">
                <div class="text">Today Call Recieved</div>
                <div class="number blue-text">
                    <strong>{{dashboardSummary.totalCallRecieved}}</strong>
                </div>
            </div>
            <div class="cc-calls-stats blc-2">
                <div class="text">Tocay Call Answered</div>
                <div class="number light-blue-text">
                    <strong>{{dashboardSummary.totalCallAnswered}}</strong>
                </div>
            </div>
        </div>

        <div>
            <div class="cc-calls-stats blc-3">
                <div class="text">Inbound Call Today</div>
                <div class="number">
                    <strong>{{dashboardSummary.totalInboundCalls}}</strong>
                </div>
            </div>
            <div class="cc-calls-stats blc-4">
                <div class="text">Outbound Calls Today</div>
                <div class="number">
                    <strong>{{dashboardSummary.totalOutboundCalls}}</strong>
                </div>
            </div>
        </div>
        <div>
            <div class="cc-calls-stats blc-5">
                <div class="text">Calls in Queue</div>
                <div class="number queue">
                    <strong>{{dashboardSummary.totalCallInQueue}}</strong>
                </div>
            </div>
            <div class="cc-calls-stats blc-6">
                <div class="text">Abandoned Calls Today</div>
                <div class="number abnd">
                    <strong>{{dashboardSummary.totalCallAbnd}}
                        <!--small>{{dashboardSummary.totalMissedCalls}}</small--></strong>
                </div>
            </div>
        </div>


        <!--/.Card-->
    </div>

    <!--Card-->
    <div class="col-lg-4 col-md-12 mb-4 card-customize card-queue">
<app-queue-stats></app-queue-stats>
        <!--Card-->
        <!-- <mdb-card>

            <div class="view view-cascade gradient-card-header blue-gradient">
                <div class="card-header-title mb-2">Queue Performance</div>

            </div>
            <mdb-card-body>
                <table mdbTable hover="false" striped="true" responsive="true" class="table table-striped queue-perf">
                    <thead class="">
                        <tr>
                            <th>Queue</th>
                            <th>Waiting</th>
                            <th>Agents</th>
                            <th>AWT</th>
                            <th>ATT</th>
                            <th>CB</th>
                            <th>ABND/Total</th>
                            <th>SL%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let queuesDetail of queuesDetails  | slice:0:8"
                            [ngClass]="{'highlightRow' : queuesDetail.callsInWaiting > 3}">
                            <td>{{queuesDetail.name}}</td>
                            <td>{{queuesDetail.callsInWaiting}}</td>
                            <td>{{queuesDetail.loggedInAgents}}</td>
                            <td>{{queuesDetail.awt}}</td>
                            <td>{{queuesDetail.aht}}</td>
                            <td>{{queuesDetail.call_back_request}}</td>
                            <td>{{queuesDetail.totalAbandonedCalls}}/{{queuesDetail.totalNumberOfCalls}}</td>
                            <td>{{queuesDetail.slinPercentage}}</td>
                        </tr>
                    </tbody>
                </table>

            </mdb-card-body>

        </mdb-card> -->
        <!--/.Card-->

    </div>
    <!--Grid column-->
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4 ag-s">
        <!-- <app-agent-stats></app-agent-stats> -->
<!-- <h1>
                            <strong class="totagent">{{agentStats.totalNumberOfAgents}}</strong>
                        </h1> -->
        <!--Card-->
        <mdb-card class="mb-2">

            <div class="card-header">Agent Status</div>

            <mdb-card-body>
                <div class="ta">
                    <div class="total-agents-div">
                        
                    </div>
                </div>
                <div style="display: inline-block;height: 300px;margin-left: auto;margin-right: auto;width: 100%;">
                    <canvas mdbChart [chartType]="chart5Type" [datasets]="agentChartData" [labels]="agentChartLabels"
                        [colors]="agentChartColors" [options]="agentChartOptions" [legend]="true">
                    </canvas>
                </div>

            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
    <!--Grid column-->



</div>

<!--app-stats-card></app-stats-card>
<app-stats-card2></app-stats-card2-->

<!--Grid column-->
<!--Grid row-->


<div class="row wow fadeIn cc-calls-stats-row">
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4 call-monthly-chart">

        <!--Card-->
        <!-- <app-monthly-call></app-monthly-call> -->
        <mdb-card>
            <div class="view view-cascade gradient-card-header blue-gradient">
                <div class="card-header-title mb-2">Call Recieved / Answered / Abandoned</div>

            </div>
            <mdb-card-body>

                <div style="display: inline-block;height: auto;margin-left: auto;margin-right: auto;width: 100%;"
                    *ngIf="chartDatasets.length > 0">
                    <canvas mdbChart [chartType]="chart1Type" [datasets]="chartDatasets" [labels]="chartLabels"
                        [colors]="chartColors" [options]="chartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card>
        <!--/.Card-->

    </div>
    <div class="col-md-4 mb-4">
        <div class="margin-top-time"></div>

        <div>
            <div class="cc-calls-time cct-bg-1">
                <div class="icon-time">
                    <mdb-icon fas icon="stopwatch" size="3x" class="" aria-hidden="true">
                    </mdb-icon>
                </div>
                <div class="text">Average Talk Time</div>
                <div class="number">
                    <strong>{{dashboardSummary.totalATT}}</strong>
                </div>
            </div>
            <div class="cc-calls-time cct-bg-2">
                <div class="icon-time">
                    <mdb-icon fas icon="stopwatch" size="3x" class="" aria-hidden="true">
                    </mdb-icon>
                </div>
                <div class="text">Longest Talk Time</div>
                <div class="number">
                    <strong>{{dashboardSummary.totalATT}}</strong>
                </div>
            </div>
            <div class="cc-calls-time cct-bg-3">
                <div class="icon-time">
                    <mdb-icon fas icon="stopwatch" size="3x" class="" aria-hidden="true">
                    </mdb-icon>
                </div>
                <div class="text">Average Wait Time</div>
                <div class="number">
                    <strong>{{dashboardSummary.totalAWT}}</strong>
                </div>
            </div>
            <div class="cc-calls-time cct-bg-4">
                <div class="icon-time">
                    <mdb-icon fas icon="phone-alt" size="3x" class="" aria-hidden="true">
                    </mdb-icon>
                </div>
                <div class="text">Call Back Req</div>
                <div class="number">
                    <strong>{{dashboardSummary.longestAWT}}</strong>
                </div>
            </div>

        </div>
        <div>


        </div>


        <!--/.Card-->
    </div>
    <!--Grid column-->
    <!--div class="col-lg-4 col-md-12 mb-4"-->

    <div class="col-lg-4 col-md-12 mb-4 dl-chart">
        <app-daily-calls></app-daily-calls>
        <!-- <mdb-card>
            <div class="view view-cascade gradient-card-header blue-gradient">
                <div class="card-header-title mb-2">Daily Call - Hourly</div>

            </div>
            <mdb-card-body>

                <div style="display: inline-block;height: auto;margin-left: auto;margin-right: auto;width: 100%;"
                    *ngIf="DailyCallChartDatasets.length > 0">
                    <canvas mdbChart [chartType]="chart3Type" [datasets]="DailyCallChartDatasets"
                        [labels]="DailyCallChartLabels" [colors]="DailyCallsChartColors"
                        [options]="DailyCallsChartOptions" [legend]="true">
                    </canvas>
                </div>
            </mdb-card-body>

        </mdb-card> -->
        <!--/.Card-->

    </div>
    <!--Grid column-->

</div>