<div class="container">


  <div class="row">
    <div class="col-md-6 mx-auto my-5">
      <!-- Material form login -->
      <div class="card">

        <h5 class="card-header info-color white-text text-center py-4 sign-in">
          <strong>Sign in</strong>
        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form class="text-center" style="color: #757575;">

            <!-- Email -->
            <div class="md-form">
              <input type="email" id="materialLoginFormEmail" class="form-control" name="username"
                [(ngModel)]="username" mdbInput>
              <label for="materialLoginFormEmail">Username</label>
            </div>

            <!-- Password -->
            <div class="md-form">
              <input type="password" id="materialLoginFormPassword" name="password" [(ngModel)]="password"
                class="form-control" mdbInput>
              <label for="materialLoginFormPassword">Password</label>
            </div>

            <div class="md-form">
              <input type="password" id="materialLoginFormDomain" name="password" [(ngModel)]="domain"
                class="form-control" mdbInput>
              <label for="materialLoginFormDomain123"><span class="">You selected: </span><b>{{selectedDay}}</b></label>
            </div>

            <div class="md-form">
              <div class="right"><span class="padding-10">Domain:</span><select class="browser-default custom-select"
                  (change)="selectChangeHandler($event)">
                  <option selected>Please Select a Domain</option>
                  <option *ngFor="let item of data" [ngValue]="item">{{item.name}}</option>
                </select></div>

            </div>


            <!-- <div class="d-flex justify-content-around">
              <div>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">
                  <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>
                </div>
              </div>
              <div>
                <a href="">Forgot password?</a>
              </div>
            </div> -->

            <!-- Sign in button -->
            <button (click)=checkLogin() class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
              type="submit" mdbWavesEffect>Sign
              in
            </button>
            <!-- <p>Not a member?
              <a href="">Register</a>
            </p>
            <p>or sign in with:</p>
            <a type="button" class="btn-floating btn-fb btn-sm">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
              <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
              <i class="fab fa-github"></i>
            </a> -->

          </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form login -->
    </div>
  </div>
</div>