<div class="main-content">
  <div class="container-fluid">
    <div class="queue-perf-table-view">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon"><i class="material-icons">assignment</i></div>
          <h2 class="card-title">Agents Satistitics</h2>
        </div>
        <div class="card-body">
          <div class="toolbar">

            
          </div>
          <div class="material-datatables">
            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatables_length">
                  
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="datatables_filter" class="dataTables_filter">
                    <label class="form-group"><input type="search" class="form-control form-control-sm"
                        placeholder="Search records" aria-controls="datatables"></label>
                  </div>
                </div>
              </div>
            </div><div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


    <!-- Weight Column -->
    <ng-container matColumnDef="agent">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Taken </th>
      <td mat-cell *matCellDef="let element"> {{element.agent}} </td>
    </ng-container>

    <ng-container matColumnDef="calls">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Taken </th>
      <td mat-cell *matCellDef="let element"> {{element.calls}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="missed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Missed </th>
      <td mat-cell *matCellDef="let element"> {{element.missed}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration</th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="talk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Talk </th>
      <td mat-cell *matCellDef="let element"> {{element.talk}} </td>
    </ng-container>
    <ng-container matColumnDef="wait">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Wait </th>
      <td mat-cell *matCellDef="let element"> {{element.wait}} </td>
    </ng-container>
    <ng-container matColumnDef="hold">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Hold</th>
      <td mat-cell *matCellDef="let element"> {{element.hold}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div></div></div></div></div></div></div>
