<!--div class="container">
    <div class="row">
        <div class="md-form">
            <input
              type="text"
              [(ngModel)]="searchText"
              class="form-control"
              id="search"
              mdbInput
            />
            <label for="search">Search</label>
          </div>
        <table mdbTable responsive="true" class="z-depth-1">
            <thead>
            <tr>
              <th [mdbTableSort]="elements" sortBy="id"><mdb-icon fas icon="sort"></mdb-icon>ID</th>
              <th [mdbTableSort]="elements" sortBy="first"><mdb-icon fas icon="sort"></mdb-icon>First</th>
              <th [mdbTableSort]="elements" sortBy="last"><mdb-icon fas icon="sort"></mdb-icon>Last</th>
              <th [mdbTableSort]="elements" sortBy="handle"><mdb-icon fas icon="sort"></mdb-icon>Handle</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let el of elements; let i = index">
                  <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex"
                      scope="row">{{el.id}}</th>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.first}}</td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.last}}</td>
                  <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.handle}}</td>
                </tr>
                </tbody>
                <tfoot class="grey lighten-5 w-100">
                <tr>
                  <td colspan="4">
                    <mdb-table-pagination [tableEl]="tableEl" [searchDataSource]="elements"></mdb-table-pagination>
                  </td>
                </tr>
                </tfoot>
              </table>
    </div>
  </div-->
  <div class="container">
    <div class="row cdr">
      <div class="col-md-6 mx-auto">
        <div class="md-form">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
                 mdbInput>
          <label for="search-input">Search</label>
        </div>
      </div>
      
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="false" striped="true" class="z-depth-1" class="cdr-t"> 
        <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
              scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
        </tr>
        </thead>
        <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let el of elements; let i = index">
          <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="">{{el.first}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.last}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.handle}}</td>
        </tr>
        </tbody>
        <tfoot class="grey lighten-5 w-100">
        <tr>
          <td colspan="4">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>