<div class="main-content">
  <div class="container-fluid">
    <div class="queue-perf-table-view">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon"><i class="material-icons">assignment</i></div>
          <h2 class="card-title">Agents Satistitics</h2>
        </div>
        <div class="card-body">
          <div class="toolbar">


          </div>
          <div class="material-datatables">
            <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatables_length">

                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="datatables_filter" class="dataTables_filter">
                    <label class="form-group"><input type="search" class="form-control form-control-sm"
                        placeholder="Search records" aria-controls="datatables"></label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngFor="let po of ELEMENT_DATA" class="mat-elevation-z8 as-table">
              <div class="as-table-header">Agent Activity Group - {{po.qid}}</div>
              <table class="table">
                <thead class="thead-inverse">
                  <tr>
                    <th class="text-center">Agent ID</th>
                    <th class="text-center">Calls Taken</th>
                    <th class="text-center">Missed</th>
                    <th class="text-center">Duration</th>
                    <th class="text-center">Idle</th>
                    <th class="text-center">Hold</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let post of po.agents">
                    <td class="text-center">{{post.agent}}</td>
                    <td class="text-center">{{post.calls}}</td>
                    <td class="text-center">{{post.missed}}</td>
                    <td class="text-center">{{post.talk }}</td>
                    <td class="text-center">{{post.idle.duration }}</td>
                    <td class="text-center">{{post.hold }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ['agent', 'calls', 'missed', 'duration', 'talk', 'wait', 'ring', 'hold',]; -->