/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body {
  background-color:#003566 !important;
}

.card.card-cascade .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card.card-cascade h3,
.card.card-cascade h4
{
  margin-bottom: 0px;
}

.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.sidebar-fixed {
  height: 100vh;
  width: 270px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  z-index: 1050;
  background-color: #fff;
  padding: 0 1.5rem 1.5rem
}

.sidebar-fixed .list-group .active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.sidebar-fixed .logo-wrapper {
  padding: 2.5rem
}

.sidebar-fixed .logo-wrapper img {
  max-height: 50px
}

/*
@media (min-width: 1200px) {
  .navbar, .page-footer, main {
    
  }
}*/

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none
  }
}

@media (min-width: 1200px){
.col-xl-3 {
    flex: 0 0 16% !important; 
    max-width: 19% !important;
}
}
.col-xl-3 {
  padding-left: 3px !important; 
  padding-right: 3px !important;
}

@media (min-width: 992px){
.ml-lg-5, .mx-lg-5 {
    margin-left: 2rem !important;
    margin-right: 1rem !important;
}
}
.stat-card{
  margin-right: -60px;
}
.table{
  color: #fff;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #001a33;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.table-heading{
  color: #fff;
  background-color: #004280;
  padding: 4px;
  text-align: center;
}

.card-customize .card-body{
  padding: 0em;
}
.card-header{color: #fff;}